@charset "UTF-8";
img{
max-width: 800px;
max-height: 450px;
}
#article_detail_header{
margin-top:20px;
border-bottom:1.5px solid gray;
}
#article_detail_header_title{
font-family: Malgun Gothic;
font-size: 29px;
margin-top: 73px;
font-weight: bold;
}
#article_detail_header_time{
font-family: Malgun Gothic;
font-size: 14px;
color: gray;
}
#article_img{
margin-top: 34px;
width: 70%;

}
#atricle_detail_article{
display: block;
text-align: center;
}
#atricle_detail_article_writer{
font-size : 14px;
font-family: Malgun Gothic;
text-align : right;
width: 949px;
margin-top: 10px;
color: darkgray;
font-weight: bolder;
}
#atricle_detail_article_detail{
font-family: Malgun Gothic;
width: 831px;
text-align: left;
margin:46px auto 125px auto;
}

#article_detail_buttons{
	min-height: 50px;
	overflow: hidden;
}
#article_detail_buttons .article_detail_button{
display: inline-block;
float: right;
margin:auto 15px auto 0;

}
#article_detail_header #article_detail_hit {
    font-family: Malgun Gothic;
    display: inline-block;
    float: right;
    text-align: right;
    font-size : 14px;
}