@charset "UTF-8";
.sub_content {
	padding: 50px 0;
}

.header_top_cont, .header_search_cont, .main_goods_cont,
	.sub_content, .content_info, .foot_list ul, .foot_cont, .foot_certify {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
}

.sub_content .content {
	padding: 30px 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sub_content .content {
	width: 100%;
	min-height: 500px;
	padding: 0;
}

.board_zone_sec {
	position: relative;
}

.board_zone_tit {
	padding: 0;
	margin: 0 0 20px 0;
	border: 0;
	/*   text-align: center; */
}

.board_zone_tit {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-size: 16px;
}

.board_list_table {
	width: 100%;
	margin: 0 0 20px 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #dbdbdb;
	text-align: center;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	border-bottom: 1px solid lightgray;
	height: 37px;
}

.board_list_table th {
	padding: 0 10px;
	line-height: 26px;
	padding: 10px 10px 10px 14px;
	border-bottom: 1px solid #dbdbdb;
	/* background: #f5f5f5; */
}

.board_list_table tbody tr:first-child td {
	padding-top: 13px;
}

.board_list_table td {
	padding: 0 10px;
	border-bottom: 0;
	line-height: 34px;
}

.board_list_table .board_tit {
	text-align: left;
	vertical-align: middle;
	color: black;
}

.board_list_table .board_tit a {
	color: black;
}

.board_list_table .board_tit a:hover {
	text-decoration: none;
}

.board_list_table td {
	padding: 0 10px;
	border-bottom: 0;
	line-height: 34px;
}

.pagination {
	margin: 20px 0 0 0;
}

.pagination ul {
	padding: 20px 0 0;
	text-align: center;
}

.pagination .on {
	color: #333;
	font-weight: bold;
}

.pagination li {
	display: inline-block;
	min-width: 26px;
	vertical-align: middle;
}

.board_search_box {
	background: #ffffff;
	border: 0;
	margin: 0;
}

.board_search_box {
	margin: 60px 0 30px 0;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background: #f7f7f7;
	text-align: center;
}

.board_zone_sec {
	position: relative;
}

colgroup {
	display: table-column-group;
}

#frmList {
	display: block;
}

.btn_board_search {
	border: 1px solid #999999;
	background: #999999;
	height: 31px;
	margin: 0 0 0 5px;
	padding: 0 15px 0 15px;
	color: #fff;
	line-height: 29px;
}

.board_text {
	padding: 0 10px;
	outline: none;
	font-size: 12px;
	height: 31px;
	padding: 0 5px;
	color: #333333;
	border: 1px solid #d6d6d6;
	line-height: 31px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#select_form .row {
	display: flex;
	padding-top: 98px;
	justify-content: center;
}

#pageList {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#pageList a[class=page-link] {
	color: black;
}

#free_board {
	margin-left: 40px;
	margin-top: 10px;
}

.board_notice {
	color: red;
}
#board_write_button{
	display: flex;
    justify-content: flex-end;
	margin-bottom: 32px;
}
.board_row{
	background-color:#f7f7f7;
}